<!-- Footer -->
<footer id="footer">
    <div class="container">
      {% if socials %}
      <div class="shareto" id="shareto">
        {% for social in socials if social.code %}
          {{social.code}}
        {% endfor %}
      </div>
      {% endif %}
      <div class="copyright">
        <span>{{site_meta.copyright}}</span>
			  <span>{{site_meta.license}}</span>
      </div>
    </div>
</footer>
<!-- #Footer -->
<!--
====== JavaScript ======
-->
<script src="{{theme_url}}/lib/jquery/jquery-2.1.1.min.js"></script>
<script src="{{theme_url}}/lib/bootstrap/bootstrap.min.js"></script>
<script src="{{libs_url}}/mailform/sup-mailform.js"></script>
<script src="{{theme_url}}/js/functions.js"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="{{ theme_url }}/libs/html5shiv/html5shiv.min.js"></script>
<script src="{{ theme_url }}/libs/respond/respond.min.js"></script>
<![endif]-->