{% if g and page %}
<div class="page {{page.bg.class}}"
 style="{{page.bg.style}}">
    <section class="container">
      <div class="row">
        <div class="col-md-12">
          <header class="text-center">
            <h2>{{page.title}}</h2>
          </header>
        </div>
      </div>
      <div class="row">
        {% for item in page.series if item.src %}
        <div class="col-sm-4 pointbox">
          {% if media.link %}
          <a href="{{media.link | url}}"
             target="{{media.target}}">
            <img class="{{media.class}}"
                 src="{{media.src}}"
                 alt="{{media.title or 'media'}}" />
          </a>
          {% else %}
          <img class="{{media.class}}"
               src="{{media.src}}"
               alt="{{media.title or 'media'}}" />
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </section>
</div>
{% else %}
<script>window.location.replace('{{base_url}}/#/{{meta.slug}}');</script>
{% endif %}