{% import "g" as g with context %}

<!DOCTYPE html>
<html lang="{{lang}}">
{% include "_head.html" %}
<body class="cover {{meta.hero.class}}"
      style="{{meta.hero.style}}">
	<!-- Header -->
	{% include "_header.html" %}
	<!-- #Header -->
	<!-- Main -->
	<section id="{{meta.slug}}"
           class="main-section">
    <div class="container">
      <div class="brand">
        <div class="logo">
          <img src="{{site_meta.logo or g.default_logo}}"
           alt="{{site_meta.title}}" />
        </div>
        <h1>{{meta.title}}</h1>
  	    <h2>{{meta.subtitle}}</h2>
      </div>
      {% if meta.mailto.action %}
      <div class="get-link">
        <form action="{{meta.mailto.action}}">
          <input type="hidden"
                 name="subject"
                 value="{{meta.mailto.subject}}">
          <div class="form-group row">
            <div class="col-sm-8">
              <!-- email -->
              <input id="email"
                     type="email"
                     name="email"
                     placeholder="{{_('Email Address here')}}"
                     class="form-control email">
               <!-- #email -->
            </div>
            <div class="col-sm-4">
              <button class="btn btn-primary btn-block">
                {{meta.mailto.btntext}}
              </button>
            </div>
          </div>
        </form>
      </div>
      {% endif %}
      <div class="excerpt">
        <p>{{meta.description}}</p>
      </div>
      <div class="store">
        <div class="row">
          <div class="col-sm-4">
            <a href="{{meta.app_android.link | url}}"
               class="flag {{'fade' if not meta.app_android.link}}">
              <span class="android"></span>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="{{meta.app_ios.link | url}}"
               class="flag {{'fade' if not meta.app_ios.link}}">
              <span class="apple"></span>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="{{meta.app_wp.link | url}}"
               class="flag {{'fade' if not meta.app_wp.link}}">
              <span class="wphone"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="learn-more">
        <a href="#" class="btn-more parallax-link parallax-go-first">
          {{_('Learn More')}}
        </a>
      </div>
    </div>
  </section>
	<!-- #Main -->
  {% set pages = query('page', 0, 24, with_content=True).contents %}
	{% for page in pages if page.template != meta.template %}
	<!-- Section -->
	<article id="{{page.slug}}" class="content-block">
		<!-- Section Block -->
		{% include page.template+".html" ignore missing %}
		<!-- #Section Block -->
	</article>
	<!-- #Section -->
	{% endfor %}
	<!-- Footer -->
	{% include "_footer.html" %}
	<!-- #Footer -->
</body>
</html>
