{% import "g" as g with context %}

<!DOCTYPE html>
<html lang="{{lang}}">
{% include "_head.html" %}
{% set bgstyle= 'url('+meta.background+')' if meta.background else '' %}
<body style="background-image:{{bgstyle}};">
	<!-- Header -->
	{% include "_header.html" %}
	<!-- #Header -->
	<!-- Main -->
	<section id="main" data-offset="100">
    <div class="container">
      <div id="brand">
        <div class="logo">
          <img src="{{site_meta.logo or g.default_logo}}"
           alt="{{site_meta.title}}" />
        </div>
        <h1>{{meta.title}}</h1>
  	    <h2>{{meta.subtitle}}</h2>
      </div>
      <form id="get-link" action="mailto:mail@youremail.com" sup-mailform>
        <input type="hidden" name="subject" value="Get&nbsp;Fisherman">
        <div class="form-group row">
          <div class="col-sm-8 col-numbers">
            <!-- Phone Number -->
            <input id="phone" type="text" name="phone" title="Phone"
             placeholder="Phone number"
             class="form-control phone-number">
            <!-- #Phone Number -->
          </div>
          <div class="col-sm-4 col-get-link">
            <button id="send-btn" class="btn btn-primary btn-get-link">
              {{_("Get Link")}}
            </button>
          </div>
        </div>
      </form>
      <div id="excerpt">
        <p>{{meta.description}}</p>
      </div>
    </div>
  </section>
	<!-- #Main -->
	{% for page in pages if not page.is_front %}
	<!-- Section -->
	<article id="{{page.alias}}">
			{% if page.template != 'index' and page.template %}
				<!-- Section Block -->
				{% include page.template+".html" %}
				<!-- #Section Block -->
			{% endif %}
	</article>
	<!-- #Section -->
	{% endfor %}
	<!-- Footer -->
	{% include "_footer.html" %}
	<!-- #Footer -->
</body>
</html>
