{% if g and page %}
{% set bg_img = "background-image:url('"+page.background.src+"');" 
   if page.background.src else '' %}
{% set bg_color = "background-color:"+page.background.color+";" 
   if page.background.color else '' %}
{% set bg_repeat = "background-repeat:"+page.background.repeat+";" 
   if page.background.repeat else '' %}

<div class="page {{page.background.class}}"
 style="{{bg_img}}{{bg_color}}{{bg_repeat}}">
  <section class="container">
    <div class="row">
      {% if page.featured_img %}
      <div class="col-md-12 imgbox">
        <img src="{{page.featured_img.src or g.default_featured_img}}"
         alt="{{page.title}}" />
      </div>
      {% endif %}
      <div class="col-md-12 textbox">
        <header>
          <h2>{{page.title}}</h2>
        </header>
        <div class="content">
          {{page.content}}
        </div>
      </div>
    </div>
  </section>
</div>
{% else %}
<script>window.location.replace('{{base_url}}/#/{{meta.alias}}');</script>
{% endif %}