/*
-----------------------------------------------
TinForce Styles
http://www.tinforce.com

English

Author:   redy
Date:     15 nov 2013
Version: 1.0
----------------------------------------------- */
body, div, a, ul li, button, h1, h2, h3, h4, h5, p {
    font-family: 'Open Sans', 'Microsoft YaHei', '微软雅黑', 'STHeiTi', 'SimSun', 'PMingliu', 'dfkai-sb', Helvetica, Arial, Verdana, sans-serif
}

#store .android {
    background: url("../img/badge_android_cn.png")
}

#store .apple {
    background: url("../img/badge_apple_cn.png")
}

#store .wphone {
    background: url("../img/badge_wp_cn.png")
}

@media screen and (max-width: 767px) {
    #features h2 {
        font-size: 30pt
    }
}